Automat==20.2.0
autopep8==1.5.3
beautifulsoup4==4.8.2
black==19.10b0
blis==0.2.4
bs4==0.0.1
distlib==0.3.0
Django==3.0.2
django-timedeltafield==0.7.10
djangorestframework==3.11.0
Faker==4.1.1
ffmpeg==1.4
ffprobe==0.5
filelock==3.0.12
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
hyperlink==19.0.0
idna==2.8
importlib-metadata==1.6.0
incremental==17.5.0
ipython==7.16.3
ipython-genutils==0.2.0
isort==4.3.20
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.10.3
jsonfield==3.1.0
kiwisolver==1.2.0
lazy-object-proxy==1.4.1
lxml==4.5.0
MarkupSafe==1.1.1
mathparse==0.1.2
matplotlib==3.2.1
mccabe==0.6.1
murmurhash==1.0.2
mysql-connector==2.2.9
mysqlclient==1.4.4
nltk==3.4.5
numpy==1.17.3
python-dateutil==2.7.5
python-vlc==3.0.7110
pytz==2019.3
PyYAML==5.1.2
Protego==0.1.16
psycopg2==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
PyDispatcher==2.0.5
pydocstyle==5.0.2
pydub==0.23.1
queuelib==1.5.0
regex==2020.6.8
requests==2.22.0
Rx==1.6.1
schedule==0.6.0
Scrapy==2.1.0
service-identity==18.1.0
soupsieve==2.0
spacy==2.1.9
SQLAlchemy==1.2.19
sqlparse==0.3.0
srsly==0.2.0
text-unidecode==1.3
urllib3==1.25.6
uuid==1.30
virtualenv==20.0.20
w3lib==1.21.0
waitress==1.4.2
